
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h1 {
  font-size: 3.5em;
  color: black;
  margin-bottom: 0;
  text-shadow: #dddddd 0px 1px 0px; 


}

body {
  background-image: url('https://i.pinimg.com/originals/25/22/39/252239b6ba51eabf0acb67dd0ead8fe2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.add-user {
  margin-left: 80%;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #ffffff;
  width: 150px;
  
  
}

.add-user:hover {
  background-color: #dddddd;
  cursor:  pointer;
}

